# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build & vendor
vendor/
node_modules/
*.zip

# Local test artifacts
phpunit.phar

# WordPress uploads (if any accidentally here)
wp-content/uploads/
.phpunit.result.cache
